/* app css stylesheet */

.menu {
  border-bottom: 0.1em solid black;
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.view-container {
  padding: 16px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
